@use '../../style/variables' as *;

div.settings-board-container {
    font-size: 0.875rem;
    margin-top: 2rem;

    div.avatar-section-container {
        display: flex;
        justify-content: center;

        img.user-avatar {
            border: 3px solid $black-color-4;
            border-radius: 50%;
        }
    }

    ul.info-list {
        list-style-type: none;
        margin: 0 auto;
        margin: 2rem auto;
        padding: 0;
        width: 50%;

        li {
            display: flex;
            flex-direction: column;
            margin: 0.75rem 0;

            span {
                &.title {
                    color: $black-color-3;
                    font-weight: 600;
                }

                &.content {
                    color: $black-color-2;
                    font-weight: 400;
                    margin: 0.25rem 0 0.5rem 1rem;
                }
            }
        }
    }

    .hr {
        margin: 0rem auto;
        margin-bottom: 1rem;
        width: 50%;
    }

    div.logout-button {
        color: $black-color-3 !important;
        margin: 0rem auto;
        width: 5rem;
    }
}