@use './NavStep';
@use './ScanOptionsBoard';
@use './SelectTargetBoard';

div.add-scan-board-container {
    div.add-scan-board_step-nav-container {
        margin: 1rem 0;
    }

    div.add-scan-board_content-container {
        margin: 2rem 0;
    }

    div.navigator-state-containter {
        display: flex;
        a {
            font-weight: 300;
            text-decoration: none;

            &.previous-state {
                margin-left: 3rem;
                margin-right: auto;
            }

            &.next-state {
                margin-left: auto;
                margin-right: 3rem;
            }
        }

        div.start-state {
            font-weight: 500;
            margin-left: auto;
            margin-right: 3rem;
        }
    }
}