@use '../../../style/variables' as *;

label.search-bar-container {
    background-color: $black-color-7;
    border: 2px solid;
    border-color: $black-color-5;
    border-radius: 5px;
    cursor: text;
    display: flex;
    transition: border-color 300ms ease-in-out;
    width: fit-content;

    &:focus-within {
        border-color: $blue-color-4;
    }

    input.search-input-box {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.5rem;
    }

    div.search-icon-container {
        align-items: center;
        display: inherit;
        margin: 0 0.5rem;

        span.search-icon {
            background-color: $black-color-3;
            height: 0.75rem;
            mask-image: url("/src/assets/magnifying-glass-solid.svg");
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            width: 0.75rem;
        }
    }
}