@use '../../style/variables' as *;

div.log-in-container {
    align-items: center;
    display: flex;
    flex-flow: column;

    .title {}

    h2 {
        margin: 1.25rem 0;
    }

    h4.title {
        margin: 1rem 0;
    }

    div.options-container {
        border: 1px solid black;
        border-radius: 10px;
        display: inherit;
        flex-flow: column;
        padding: 1rem 2rem;
        div.error-message-container {
            margin: 1rem 0;
            h4.error-message {
                color: $error-color;
                font-size: 1.25rem;
                margin: 0.25rem 0;
                text-align: center;
            }
        }
    }

}