@use '../../../style/variables' as *;

div.result-detail-container {
    color: $black-color-2;

    .table-scroll-wrap {
        height: 60vh;
    }

    .risk-high-style {
        background-color: $error-color;
        color: $black-color-6;
    }

    .risk-medium-style {
        background-color: $medium-color;
        color: $black-color-6;
    }

    .risk-low-style {
        background-color: $low-color;
    }

    .risk-informational-style {
        background-color: $blue-color-1;
        color: $black-color-6;
    }

    div.action-container {
        display: flex;
        margin: 0.25rem 0;

        a.go-previous {
            margin-left: 3rem;
            margin-right: auto;
        }

        div.more-options-button {
            margin-left: auto;
            margin-right: 3rem;
        }
    }

    h2.message {
        margin: 5rem auto;
    }

    ul.session-info-container {
        font-size: 0.875rem;
        list-style-type: none;
        padding: 0;

        li {
            font-weight: 600;
            margin: 0.5rem 0;

            &.first-seen,
            &.last-seen {
                font-size: 0.75rem;
                margin: 0.1rem 0;
            }

            span:not(.tag-item) {
                font-weight: 400;

                &::before {
                    content: ":";
                    margin-right: 0.25rem;
                }
            }

            span.tag-item {
                background-color: $black-color-4;
                border-radius: $app-border-radius;
                color: $black-color-7;
                font-weight: 200;
                height: fit-content;
                margin: 0.125rem;
                padding: 0.25rem 0.5rem;
            }
        }
    }

    .part-board-container {
        margin: 2rem 0rem;
    }

    .ajax,
    .spider,
    .alerts-detail-boards-container .alerts-detail-container {
        .detail-block {
            border: 1px solid $app-border-color;
            border-radius: $app-border-radius;
            margin: 1rem;

            ul li.label:not(:last-child),
            ul li.detail:not(:last-child) {
                border-right: 1px solid $app-border-color;
            }

            .instance:last-of-type+ul.trow {
                border-top: 1px solid $app-border-color;
            }

            ul {

                &:not(:last-child) {
                    border-bottom: 1px solid $app-border-color;
                }

                li {
                    justify-content: left;
                    padding: 0.5rem 1rem;

                    &.label {
                        flex: 1 0 0px;
                        font-size: 0.875rem;
                        font-weight: bold;
                    }

                    &.detail {
                        flex: 5 0 0px;
                    }
                }

                &.references li.detail,
                &.tags li.detail {
                    flex-direction: column;

                    a.reference,
                    a.tag {
                        margin: 0.25rem 0;
                    }
                }
            }

            div.instance {
                position: relative;

                span.instance-index {
                    font-size: 0.875rem;
                    position: absolute;
                    right: 1rem;
                    top: 0.5rem;
                }

                ul,
                li {
                    border: none !important;
                }

                ul.trow li.label::after {
                    content: ":";
                }

                ul li.detail {
                    overflow: hidden;
                }
            }

        }
    }

    div.alerts-detail-boards-container {
        .summary-alerts-container {
            ul.thead li {
                font-size: 0.875rem;
                font-weight: bold;
                justify-content: center !important;
            }

            ul li.risk-level {
                border-right: 1px solid $app-border-color;
            }

            ul {

                &:not(:last-child) {
                    border-bottom: 1px solid $app-border-color;
                }

                li {
                    justify-content: center;
                    padding: 0.25rem;

                    &.risk-level {
                        flex: 1 0 0px;
                        justify-content: left;
                    }

                    &.alerts-total {
                        flex: 1 0 0px;

                    }
                }
            }
        }

        .alerts-information-container {

            ul.thead li {
                font-size: 0.875rem;
                font-weight: bold;
                justify-content: center !important;
            }

            ul li.alert-name,
            ul li.risk-level {
                border-right: 1px solid $app-border-color;
            }

            ul {

                &:not(:last-child) {
                    border-bottom: 1px solid $app-border-color;
                }

                li {
                    justify-content: center;
                    padding: 0.25rem;

                    &.alert-name {
                        flex: 4 0 0px;
                        justify-content: left;
                    }

                    &.risk-level,
                    &.alerts-total {
                        flex: 1 0 0px;
                    }
                }
            }
        }

        .alerts-detail-container .detail-block ul {


            &.references li.detail,
            &.tags li.detail {
                flex-direction: column;

                a.reference,
                a.tag {
                    margin: 0.25rem 0;
                }
            }
        }
    }
}