@use '../../style/variables' as *;

div.progress-bar-container {
    border: 1px solid $black-color-1;
    border-radius: $progress-bar-size;
    box-shadow: 0 0 1px $black-color-1;
    height: $progress-bar-size;
    overflow: hidden;
    transition: all 0.5s;

    .progress-bar {
        align-items: center;
        animation-direction: alternate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: pulse;
        background-color: $progress-bar-background-color;
        border-radius: inherit;
        display: flex;
        height: 100%;
        justify-content: center;
        transition: all 1s ease-in-out;

        span.percent {
            color: $black-color-7;
            font-size: 0.75rem;
        }
    }

    @keyframes pulse {
        from {
            background-color: $progress-bar-background-color;
        }

        to {
            background-color: $progress-bar-background-color-pulse;
        }
    }
}