@use '../../../style/variables' as *;

div.results-table-container {
    color: $black-color-3;
    font-size: 0.875rem;
    width: 100%;

    ul li {
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        text-align: center;

        &.name {
            flex: 3 0 0px;
            justify-content: left;
        }

        &.target {
            flex: 3 0 0px;
            justify-content: left;
            overflow: hidden;
        }

        &.type {
            flex: 3 0 0px;
        }

        &.state {
            flex: 2 0 0px;

            &.processing {
                color: $medium-color;
                font-weight: 700;
            }

            &.successful {
                color: $success-color;
                font-weight: 700;
            }

            &.failed {
                color: $error-color;
                font-weight: 700;
            }
        }

        &.progress {
            flex: 1 0 0px;
        }

        &.first-seen {
            flex: 1 0 0px;
        }

        &.last-seen {
            flex: 1 0 0px;
        }
    }

    div.table-body-container {
        color: $black-color-2;

        a {
            color: unset;
            text-decoration: none;

            ul.trow {
                background-color: $blue-color-7;
                border-radius: $app-border-radius;
                margin: 0.5rem 0;
                transition: background-color 200ms ease-in-out;

                &:hover {
                    background-color: $blue-color-6;
                }

                li a {
                    color: -webkit-link;
                    text-decoration: underline;
                }
            }
        }
    }
}