@use '../../../style/variables' as *;

div.results-table-container {
    color: $black-color-3;
    font-size: 0.875rem;
    min-width: $SM;
    width: 100%;

    div.table-scroll-wrap {
        ul {
            display: flex;
            flex-direction: row;

            li {
                align-items: center;
                display: inherit;
                justify-content: center;
                margin: 0.5rem;

                &.name {
                    flex: 3 0 0px;
                    justify-content: left;
                }

                &.target {
                    flex: 3 0 0px;
                    justify-content: left;
                }

                &.type {
                    flex: 3 0 0px;
                }

                &.state {
                    flex: 1 0 0px;
                }

                &.progress {
                    flex: 1 0 0px;
                }

                &.first-seen {
                    flex: 1 0 0px;
                }

                &.last-seen {
                    flex: 1 0 0px;
                }

            }
        }

        div.table-head-container {}

        div.table-body-container {
            color: $black-color-2;

            div.trow-container {
                margin: 0.5rem 0;

                ul.trow {
                    background-color: $blue-color-7;
                    border-radius: 5px;
                    transition: background-color 200ms ease-in-out;

                    &:hover {
                        background-color: $blue-color-6;
                    }
                }
            }
        }
    }
}