@use '../utils/variables' as *;

#nav-bar {
    box-shadow: 0 1px rgb(0 0 0 / 8%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    a.nav-logo {
        display: flex;

        figure.logo-container {
            margin: auto 2rem;

            img {
                width: 4rem;
                min-width: 4rem;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    ul {
        display: inherit;
        flex-flow: row wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            align-items: center;
            color: black;
            display: inherit;
            text-decoration: none;
        }
    }

    div.nav-wrap {
        display: inherit;
        justify-content: end;
        margin: 0.5rem 0;
        width: 100%;

        ul.nav-bar {
            justify-content: end;
            margin: 0 1rem;

            a.nav-item {
                margin: 0 3rem;
            }
        }

        ul.nav-bar-id {
            margin: 0 2rem 0 1rem;

            a {
                margin: 0.5rem;
            }
        }
    }


    @media screen and (max-width: $SM) {

        div.nav-wrap {
            align-items: end;

            ul.nav-bar {
                display: none;
                flex-flow: column-reverse;
                margin-right: 1rem;

                a.nav-item {
                    margin: 1rem;
                }
            }

            ul.nav-bar-id {
                flex-direction: row;
                margin-right: 4rem;
            }
        }
    }
}