@use '../utils/variables' as *;

div.nav-bar-dashboard-container {
    color: $black-color-1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: $work-space-size;

    div.work-space-container {
        align-items: center;
        display: inherit;
        height: fit-content;
        margin-bottom: 0.5rem;
        padding: 1rem;
        width: 100%;

        span.icon {
            background-image: url("../../../public/work-space.svg");
            background-size: contain;
            height: $work-space-icon-size;
            margin-right: 0.75rem;
            width: $work-space-icon-size;
        }

        div.title-container {

            h4.title {
                font-size: 0.8rem;
            }

            span.sub-title {
                color: $black-color-2;
                font-size: 0.7rem;
            }
        }
    }

    div.work-space-nav-container {
        padding-left: 1rem;

        h4.management-title {
            font-size: 0.8rem;
            margin: 0.5rem 0;
            opacity: 0.9;
        }

        .nav-item {
            align-items: center;
            border-radius: $work-space-nav-item-border-radius;
            display: flex;
            padding: 0.75rem 0 0.75rem 1rem;

            &[current-page=true],
            &:hover {
                background-color: $blue-color-6;
            }

            span.icon {
                background-size: contain;
                height: 1rem;
                margin-right: 0.5rem;
                width: 1rem;
            }

            h4.title {
                font-size: 0.9rem;
            }
        }

        div.targets-container {
 
            span.icon {
                background-image: url("../../../public/rocket-solid.svg");
            }
        }

        div.results-container {
            span.icon {
                background-image: url("../../../public/chart-bar-solid.svg");
            }
        }
    }
}