@use '../utils/variables' as *;

div.progress-bar-container {
    border: 2px solid $color-1;
    // box-shadow: 0 0 5px $color-1;
    height: 2rem;
    transition: all 0.5s;
    border-radius: 2rem;
    .progress-bar {
        align-items: center;
        background-color: $color-4;
        border-radius: inherit;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
        transition: all 1s ease;

        span.finish-text {
            &.hidden {
                display: none;
            }
        }
    }
}