@use '../utils/variables' as *;
@use '../utils/mixins' as *;

div.progress-ring-container {
    align-items: center;
    display: flex;
    flex-direction: row;

    div.progress-ring {
        align-items: center;
        border: 3px solid;
        border-color: #84E8A9;
        border-radius: $ring-border-radius;
        display: inherit;
        height: $ring-size;
        justify-content: center;
        margin-right: 0.25rem;
        position: relative;
        width: $ring-size;

        div.core {
            background-color: black;
            border-radius: $ring-border-radius;
            height: $ring-core-size;
            width: $ring-core-size;

            &.complete {
                background-color: #84E8A9;
            }
        }
    }

    div.progress-status {
        font-size: 0.85rem;
        margin-left: 0.25rem;
        font-family: 'Montserrat', sans-serif;
    }

    .spin {
        animation: spin 2s linear infinite;
        border-color: $color-3 $color-3 transparent !important;
    }
}