div.scan-field-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    h4 {
        margin: 0.5rem 0;
    }

    div.field-container {
<<<<<<< HEAD
        
=======
        align-items: center;
        display: inherit;

>>>>>>> d765d42 (ZO-33 Update style, logic Scan Field and Progress Ring component)
        input {
            margin-right: 0.5rem;
        }

        div.scan-button {
            height: fit-content;
            margin-left: 0.5rem;
        }
    }

    div.message {
        margin: 0.5rem 0 0.5rem 0.5rem;
        font-size: 0.9rem;
        width: fit-content;

        &.error {
            background-color: red;
        }
    }
}