@use '../utils/variables' as *;

div.step-nav-container {
    counter-reset: step-node;
    display: flex;
    flex-direction: row;
    position: relative;
    $linker-margin-left-right: var(--linker-margin-left-right);
    $node-point-size: 2rem;

    &::after {
        background-color: $black-color-5;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        margin: ($node-point-size / 4 + $node-point-size / 2) $linker-margin-left-right 0 $linker-margin-left-right;
        position: absolute;
        right: 0;
        top: 0;
        transition: height 200ms ease-in-out;
        z-index: -10;
    }

    div.step-node-container {
        display: inherit;
        flex: 1 0 0px;
        flex-direction: column;

        div.node-container {
            align-items: center;
            display: inherit;
            justify-content: center;

            a {
                color: transparent;

                div.node:hover {
                    &::before {
                        background-color: $blue-color-1;
                        color: $black-color-7;
                    }
                }

                div.node {
                    background-color: white;
                    padding: ($node-point-size / 4);

                    &::before {
                        align-items: center;
                        background-color: $blue-color-5;
                        border-radius: 50%;
                        color: $black-color-6;
                        content: counter(step-node);
                        counter-increment: step-node;
                        display: flex;
                        font-weight: 500;
                        height: $node-point-size;
                        justify-content: center;
                        width: $node-point-size;
                    }
                }
            }
        }

        div.title-container {
            h4 {
                color: $black-color-4;
            }
        }

        &.isActive {
            div.node-container {
                a {
                    div.node::before {
                        background-color: $blue-color-1;
                        color: $black-color-7;
                    }
                }
            }

            div.title-container {
                h4 {
                    color: $black-color-1;
                }
            }
        }
    }

    div.title-container {
        display: inherit;
        justify-content: center;

        h4 {
            margin: 0 1rem;
        }
    }
}