// COLOR PALETTE
// Black
$black-color-1: #222831;
$black-color-2: #393E46;
$black-color-3: #b1b0b5;
$black-color-4: #d8d8da;
$black-color-5: #EEEEEE;

// Blue
$blue-color-1: #005ce6;
$blue-color-2: lighten($blue-color-1, 5%);
$blue-color-3: lighten($blue-color-1, 20%);
$blue-color-4: lighten($blue-color-1, 30%);
$blue-color-5: #00ADB5;

// COLOR SPEC
$disable-color: $black-color-2;
$error-color: #ff4949;

// NAVBAR
$nav-shadow: rgb(0 0 0 / 8%) 0 1px;

// PROGRESS RING
$ring-size: 15px;
$ring-core-size: 0.6 * $ring-size;
$ring-border-size: 0.12 * $ring-size;
$ring-border-radius: 50%;

// PROGRESS BAR
$progress-bar-size: 1rem;
$progress-bar-border: 1px solid $black-color-1;
$progress-bar-border-radius: $progress-bar-size;
$progress-bar-shadow: 0 0 1px $black-color-1;
$progress-bar-background-color: $blue-color-3;
$progress-bar-background-color-pulse: $blue-color-4;

// BUTTON
$primary-button-background-color: $blue-color-2;
$primary-button-background-color-hover: $blue-color-1;
$secondary-button-boder-color: $black-color-4;
$secondary-button-boder-color-hover: $black-color-3;
$secondary-button-shadow: inset $secondary-button-boder-color 0 0 0 1px;
$secondary-button-shadow-hover: inset $secondary-button-boder-color-hover 0 0 0 1px;

// TOGGLE BUTTON
$toggle-indicator-size: 18px;

$toggle-track-height: $toggle-indicator-size + 5;
$toggle-track-width: $toggle-indicator-size * 2.5;

$toggle-focus-ring: 0px 0px 0px 2px black;

$toggle-indicator-speed: 0.25s;

$toggle-check-mark-height: $toggle-indicator-size - 4;
$toggle-check-mark-width: $toggle-check-mark-height;

// MEDIA
$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;