@use '../../style/variables' as *;

nav.breadcrumb-container {
   color: $black-color-4;
   font-size: 0.875rem;

   ol.list-breadcrumb {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li.breadcrumb-cell {
         &:not(:last-child)::after {
            content: "/";
            margin: 0.25rem;
         }

         a.breadcrumb-link {
            color: $black-color-3;
            margin: 0.25rem;
            text-decoration: none;

            &:hover {
               color: lighten($black-color-3, 20%);
               text-decoration: underline;
            }
         }
      }
   }

}