@use '../../utils/variables' as *;



div.modal-portal-container {
    background-color: rgba($color: #000000, $alpha: 0.2);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    div.modal-wrap {
        height: 100%;
        width: 100%;

        div.modal-inner {
            background-color: $black-color-7;
            border-radius: 10px;
            left: 50%;
            padding: 2rem;
            position: fixed;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;

            $close-button-size: 0.75rem;

            span.close-button {
                background-color: $black-color-4;
                border-radius: 50%;
                display: block;
                padding: $close-button-size;
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(35%, -35%);
                transition: background-color 200ms ease-in-out;

                &::before,
                &::after {
                    background-color: $black-color-7;
                    content: "";
                    height: $close-button-size / 6;
                    position: absolute;
                    width: $close-button-size;
                }

                &::before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &:hover,
                &:focus {
                    background-color: $black-color-3;
                }
            }

            div.modal-container {
                @import "../dashboard/add-target-modal.scss";
                @import "../dashboard/add-domain-modal.scss";
            }
        }
    }
}