@use '../../../style/variables' as *;
@use '../../../style/mixins' as *;

div.progress-ring-container {
    align-items: center;
    display: inline-flex;
    flex-direction: row;

    div.progress-ring {
        align-items: center;
        border: $ring-border-size solid;
        border-color: #84E8A9;
        border-radius: $ring-border-radius;
        display: flex;
        height: $ring-size;
        justify-content: center;
        position: relative;
        width: $ring-size;

        div.core {
            background-color: black;
            border-radius: $ring-border-radius;
            height: $ring-core-size;
            width: $ring-core-size;

            &.complete {
                background-color: #84E8A9;
            }
        }
    }

    div.progress-state-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.85rem;
        margin-left: 0.5rem;
    }

    .spin {
        animation: spin 2s linear infinite;
        border-color: $blue-color-20 $blue-color-20 transparent !important;
    }
}