@use '../../style/variables' as *;

div.dashboard-container {
    color: $black-color-2;

    h3 {
        // margin: 0 1rem;
    }

    .table-scroll-wrap {
        height: auto !important
    }

    hr {
        color: $black-color-3;
        margin: 1rem auto;
        width: 50%;
    }
}