@use '../../../style/variables' as *;

div.field-container div.input-field-container input {
    background-color: $black-color-5;
    border-style: none;
    color: $black-blue-color-1;
    transition: box-shadow 150ms ease-in-out;
    width: 15rem;

    &:hover {
        box-shadow:
            rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
            rgb(209, 213, 219) 0px 0px 0px 1px inset;
    }

    &:focus {
        box-shadow: $blue-color-6 0px 0px 0px 3px;
        outline: none;
    }
}