@use '../../utils/variables' as *;

div.progress-table-container {

    // TOGGLE BUTTON
    div.view-options-container {
        div.auto-scroll-container {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: right;
            margin: 1rem;

            label.toggle-button {
                display: inline-flex;

                input.checkbox-input {
                    clip: rect(0 0 0 0);
                    position: absolute;

                    &:checked+span.toggle-track {
                        span.toggle-indicator {
                            background-color: black;
                            transform: translateX($toggle-track-width - $toggle-track-height);

                            span.check-mark {
                                opacity: 1;
                            }
                        }
                    }

                    &:focus+span.toggle-track {
                        border: 1px solid transparent;
                        box-shadow: 0px 0px 0px 2px black;
                    }
                }

                span.toggle-track {
                    border: 1px solid black;
                    border-radius: 100px;
                    cursor: pointer;
                    display: flex;
                    height: $toggle-track-height;
                    position: relative;
                    width: $toggle-track-width;

                    span.toggle-indicator {
                        align-items: center;
                        background-color: $disable-color;
                        border-radius: $toggle-indicator-size;
                        bottom: 2px;
                        display: inherit;
                        height: $toggle-indicator-size;
                        justify-content: center;
                        left: 2px;
                        position: absolute;
                        transition: $toggle-indicator-speed;
                        width: $toggle-indicator-size;

                        span.check-mark {
                            display: inherit;
                            fill: white;
                            height: $toggle-check-mark-height;
                            opacity: 0;
                            transition: opacity $toggle-indicator-speed ease-in-out;
                            width: $toggle-check-mark-width;
                        }
                    }
                }
            }

            h4.option-title {
                color: black;
                font-size: 0.9rem;
                margin: 0 0.25rem;
                opacity: 0.9;
            }

            &.uncheck {
                label.toggle-button {
                    span.toggle-track {
                        border-color: $disable-color;
                    }
                }

                h4.option-title {
                    color: $disable-color;
                }
            }
        }
    }

    // TABLE
    div.table-container {
        margin: 3rem 0;
        position: relative;

        ul {
            display: flex;
            flex-direction: row;

            li {
                &.no {
                    margin-right: 1rem;
                    text-align: center;
                    width: 5rem;
                }

                &.url {}

                padding: 1rem 0;
            }
        }

        div.table-scroll-wrap {
            height: 50vh;

            div.table-head-container {
                bottom: 100%;
                left: 0;
                position: absolute;
            }

            div.table-body-container {
                ul {
                    border-top: 1px solid $black-color-1;
                }
            }
        }
    }
}