@use '../../utils/variables' as *;

div.targets-table-container {
    color: $black-color-3;
    font-size: 0.875rem;
    width: 100%;
    min-width: $SM;

    div.table-scroll-wrap {

        ul {
            display: flex;
            flex-direction: row;

            li {
                display: inherit;
                justify-content: center;
                margin: 0.5rem;

                &.name {
                    flex: 4 0 0px;
                    justify-content: left;
                }

                &.target {
                    flex: 5 0 0px;
                    justify-content: left;
                }

                &.tag {
                    flex: 2 0 0px;
                }

                &.first-seen,
                &.last-seen {
                    flex: 2 0 0px;
                }

                &.action {
                    flex: 1 0 0px;
                }
            }
        }

        div.table-head-container {
            margin: 1rem 0;
        }

        div.table-body-container {
            color: $black-color-2;

            ul.trow {
                border-radius: 5px;
                margin: 0.5rem 0;
                background-color: $blue-color-7;
                transition: background-color 200ms ease;

                &:hover {
                    background-color: $blue-color-6;
                }
            }
        }
    }


}