@use '../../../style/variables' as *;

@mixin style_index {
    div.add-target-modal-container {
        display: flex;
        flex-direction: column;

        div.title-container {
            margin: 0.5rem 0;

            h3 {
                color: $black-color-1;
            }
        }

        div.content-container {
            margin: 1rem 0;

            div.type-option {
                background-color: $black-color-5;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                margin: 0.5rem 0;
                padding: 1rem;
                position: relative;
                text-decoration: none;
                transition: background-color 200ms ease-in-out;
                width: 15rem;

                &::after {
                    background-color: aqua;
                    background-color: $black-color-3;
                    content: "";
                    height: 1rem;
                    mask-image: url("/src/assets/chevron-right-solid.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    position: absolute;
                    right: 5%;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 1rem;
                }

                &:hover {
                    background-color: $black-color-4;
                }

                h4.title {
                    color: $black-color-1;
                }

            }
        }
    }

    div.add-modal-container {
        div.title-container {
            h3 {
                color: $black-color-1;
                margin: 0.5rem 0;
            }
        }

        div.content-container {
            div.field-container {
                margin: 1rem 0;
            }

            div.target-name-field {
                margin-bottom: 1.5rem;
            }

            div.target-field {}
        }

        div.navigator-state-containter {
            display: flex;

            a.back-state {
                color: $black-color-1;
                margin-right: auto;
                text-decoration: none;
            }

            div.add {
                font-weight: 400;
                margin-left: auto;
            }
        }
    }
}