@use './TargetsTable';

div.targets-board-container {
    div.action-container {
        display: flex;
        justify-content: space-between;

        div.add-target-button {
            font-weight: 300;
            margin-right: 3rem;
        }
    }

    div.targets-board_targets-table-container {}
}